extends layout 

block content 
  h1= title 
  if (currentUser&&currentUser.member_status=="member")
    p You are already a member. 
  else if (currentUser) 
    p Enter the secret passcode to become a member.
    form.become-member(method="POST" action="") 
      label(for="passcode") Passcode: 
      input(name="passcode", type="text", autocomplete="off")
      input(type="hidden" name="username" value=currentUser.username)
      br
      button(type="submit") Submit
  else 
    p Log in or sign up first. 

  if errors 
      ul.error-list 
        for error in errors  
          li!= error.msg 