doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    div.header-div
      div.sub-header-div
        a(href="/") Homepage
        a.header-ele(href="/chat") Chat Log
        if currentUser
          a.rightside(href="/logout") Log Out
          a.header-ele(href="/joinclub") Become a Member
        else 
          a.rightside(href="/login") Log In
          a.header-ele(href="/signup") Sign Up
      if (currentUser&&currentUser.member_status==="member"&&currentUser.admin===undefined)
        div.sub-header-div
          p.rightside Logged in as: #{currentUser.username} (member)
      else if (currentUser&&currentUser.admin===true)
        div.sub-header-div
          p.rightside Logged in as: #{currentUser.username} (admin)
      else if (currentUser)
        div.sub-header-div
          p.rightside Logged in as: #{currentUser.username}
      
  body
    block content
