extends layout 

block content 
  h3 Login successful. 
  if currentUser 
    h1 Welcome, #{currentUser.username}.
  else 
    h1 Welcome. How did you get to this page without logging in? 
  div.login-success-text
    if currentUser&&currentUser.member_status==="member"
      p You are a member.
    else 
      p You are not a member.
    if currentUser&&currentUser.admin===true
      p You are an admin.
  div
    a.big-hyperlink(href="/joinclub") Become a member
  br
  div
    a.big-hyperlink(href="/chat") Go to chat log 