extends layout 

block content 
  h1= title 

  if (!currentUser)
    p You must be logged in to post. 
  else if (currentUser.member_status === "user")
    p You must be a member to post. 
  else 
    form(method="POST" action="")
      div.form-div 
        label(for="title") Message Title
        br 
        input(type="text", name="title", autocomplete="off")
      div.form-div-textarea
        label(for="text") Message
        br
        textarea(name="text")
      button(type="submit") Submit

  if errors 
      ul.error-list 
        for error in errors  
          li!= error.msg 