body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin-top: 0;
}

a {
  color: #00B7FF;
}

.sign-up input {
  margin-bottom: 8px;
}

.sign-up button {
  margin-bottom: 8px;
}

.error-list {
  color: red;
}

.become-member input {
  margin-bottom: 8px;
}

.header-div {
  min-height: 62px;
}

.sub-header-div {
  display: flex;
}

.header-ele {
  margin-left: 12px;
}

.rightside {
  margin-left: auto;
}

.big-hyperlink {
  font-size: 16px;
}

.message-header {

}
.message-title {

}
.message-content {
  
}