body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sign-up input {
  margin-bottom: 8px;
}

.sign-up button {
  margin-bottom: 8px;
}

.error-list {
  color: red;
}

.become-member input {
  margin-bottom: 8px;
}

.header-div {
  display: flex;
}

.header-ele {
  margin-left: 12px;
}

.logout {
  margin-left: auto;
}